:root {
  background: repeating-conic-gradient(
    at 50% 45%,
    #4690eb 10deg,
    rgb(17, 211, 53) 15deg
  );
  background-size: 29px 29px;
  font-family: helvetica;
  margin: 0;
}
root:after {
  content: '';
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 3;
  background: repeating-conic-gradient(
    at 95% 5%,
    #34343434 15deg,
    #34343434 17deg,
    #eeffee45 27.9deg,
    #eeffee45 45deg,
    #34343434 47deg,
    #eeffee45 47.9deg
  );
}
input,
select {
  height: 25px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;

  border-bottom: 4px solid #00ffa2;
}

.container {
  width: 100%;
  margin: 1rem 2rem;
}
.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.header {
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  background-color: #ffffffc7;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.form-group > label {
  color: #777;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.btn {
  background-color: #00ffa2;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #4bf2b5;
}

.card-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding-top: 10rem;
}

.card {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  background-color: #ffffffb1;
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front {
  left: 0;
}

.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

.flashcard-options {
  margin-top: 0.5rem;
}

.flashcard-option {
  margin-top: 0.25rem;
  color: #555;
  font-size: 0.75rem;
}

.flashcard-option:first-child {
  margin-top: 0;
}
